<template>
    <div>
        <p v-for="name in names" :key="name">
            {{ name.id }} - {{ name.first  }} {{ name.last }}
        </p>
        <hr />    
    
        <div class="card" v-for="person in people" :key="person">
            <h2>{{ person.name }}</h2>
            <p class="sub" v-for="friend in person.friends" :key="friend">
                friend : {{ friend }}
            </p>
        </div>
        <hr />
        <div v-for="user in users" :key="user">
            <p v-if="user.age >=45 && user.age <= 50">Name:{{ user.name }}</p>
            <p v-else-if="user.age >= 30 && user.age <= 44">Name:{{ user.name }}</p>
        </div>
    </div>    
</template>

<script>
    export default {
        name:"IterationView",
        data() {
            return {
                users: [
                    { name: 'Jhon', age: 33 },
                    { name: 'Jane', age: 34 },
                    { name: 'Jack', age: 35 },
                    { name: 'Jill', age: 36 },
                ],
                names:[
                    { id: 0,first:"Mark",last: "Zuckerberg"},
                    { id: 1,first:"elon",last: "Musk"},
                ],
                people: [
                    {id: 0,name: "Jhon Doe",friends:['Scot Lang','Tonay Stark']},
                    {id: 1,name: "Tayler Swiff",friends:['Leo messi','JJ Baby']},
                ]

            }
        },
    }
</script>

<style>
    .card{
        width:30rem;
        margin: 1rem auto;
        padding: 0.5rem;
        border: 1px solid black;
    }
    .sub{
        width: initial;
        margin: 0.5rem;
        
    }
</style>